@font-face{
    font-family:HeliosBlack;
    src: url(fonts/HeliosBlack.ttf);
}
@font-face{
    font-family:HeliosBold;
    src:url(fonts/HeliosBold.ttf);
}
@font-face{
    font-family:HeliosLight;
    src:url(fonts/HeliosLight.ttf);
}
@font-face{
    font-family:HeliosRegular;
    src:url(fonts/HeliosRegular.ttf);
}