
.grid{
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px){
    .grid{
     position: relative;
     padding: 0;
     width: 90%;
     max-width: inherit;
    }
    .hidden-desktop{
        display: none;
    }
    .visible-desktop{
        display: block;
    }
}
@media (min-width:1024px){
    .grid{
     width: 90%;
  }
}