.footer{
    background-color: #EFEFEF;
    position: relative;
    &-wrapper{
        padding-top: 70px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
